@use 'core/reset';
@use 'components/code';
@use 'components/links';
@use 'layout/page';
@use 'layout/header';
@use 'layout/footer';
@use 'pages/index';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.contenedor {
    display: flex;
    align-items: center;
    gap: 30%;
    background-color: black;
    height: 100px;
    width: 100%;
    color: white;
}
.logo {
    width: 40%;
    height: auto;
    flex: row

}
.boton {
    
    width: 70%;
    height: auto;
    color: white;
}
.container-main {
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: rgb(0, 140, 255);
    height: 500px;
    justify-content: center;
    padding: 5%;
    letter-spacing: 3px;
    color: white;
   

}
#button-verde {
    display: flex;
    background-color: rgb(24, 156, 24);
    height: 50px;
    justify-content: center;
    align-items: center;
    border-radius: 15%;
    width: 300px;

}
.condiciones {
    display: flex;
    font-size: 10px;
    justify-content: end;
}
.section {
    display: flex;
    
    height: 800px;
    justify-content: flex-start;
    justify-items: center;
    padding-top: 25px;
    flex-direction: column;
    color: black;
    padding-right: 10px;
}
.subtitulo {
    display: flex;
    padding: 5%;
   justify-content: center;
}
.img-1 {
  
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    padding-right: 60px;
    
}
.nota {
    
    margin: 60px;
    height:60px;
    justify-items: center;
    justify-content: center;
}
.telefono {
    margin: 60px;
    height:60px;
    justify-items: center;
    justify-content: center;
}
.img-2 {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
   
}
   
.cascos {
    margin:60px;
    height:60px;
    justify-items: center;
    justify-content: center;
    
}

.img-3 {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.play {
    margin: 60px;
    height:60px;
    justify-items: center;
    justify-content: center;
}
.img-4 {
    display: flex;
    flex-direction: row;
    justify-items: center;
    justify-content: center;
    align-items: center;
    overflow: hidden;
}
.footer-container {
    background-color: black;
    display: flex;
    flex-direction: row;
    justify-content: right;
    justify-items: end;
    flex-wrap: wrap;
    
}

.footer-container div {
   
    padding-left: 100px;
    background-color: brown;
   
}