<header>
  <div class="contenedor">   
       <img class="logo" src="./klipartz.com.png" alt="es un logo">
       <p class="boton"></p>Abrir en la aplicación</p> 
  </div>
</header>

<main class="container-main">
  
  <h1>PRUEBA PREMIUM GRATIS 3 MESES</h1>
  <br>
  <div>ESCUCHA MILLONES DE CANCIONES SIN <br>ANUNCIOS, A LA CARTA Y SIN CONEXION</div>
  <br>
  <br>
  <br>
  <br>
  <div>
      <button id="button-verde">ver planes</button> 
  </div>
  
  
  
  <br>
  <br>
  <br>
  <br>
  <div class="condiciones">Rigen terminos y condiciones.los tres meses gratis no estan disponibles para los usuarios que ya hallan probado Premium</div>
</main>