<header>
  <div class="header__franja-negra">
    <img src="../images/spotify.png" alt="Logo de Spotify">
    <ul class="header__menu-texto">
      <li>Premium</li>
      <li>Ayuda</li>
      <li>Descargar</li>
      <li>|</li>
      <li>Registrarse</li>
      <li>Iniciar sesión</li>
    </ul>
    <img class="header__hamburguesa" src="../images/icono_menu.svg" alt="Menú">
  </div>
  <div class="header__hero">
    <div class="header__hero-content">
      <h1>Prueba Premium gratis 3 meses</h1>
      <h2>Escucha millores de caniones sin anuncios, a la carta y sin conexión. </h2>
      <button class="header__button">VER PLANES</button>
      <p class="header__terminos">Rigen términos y condiciones. Los tres meses gratis no están disponibles para usuarios
        que ya hayan probado Premium. </p>
    </div>
  </div>
</header>