<main >
  <section class="section">
    <h2 class="subtitulo">¿POR QUE PASARTE <br>A PREMIUM?</h2>
    <div class="img-1">
        <img class="nota" src="./disco-de-musica-con-nota-musical.png" alt="logo ">
        <P><B>DESCARGA MUSICA</B><br><br>LLEVALA SIEMPRE CONTIGO</P>
       
    </div>
    <div class="img-2">
        <img class="telefono" src="./telefono-movil.png" alt="LOGO">
        <p><b>SIN ANUNCIOS</b><br><br>DISFRUTA TU MUSICA SIN INTERRUPCIONES</p>
        
    
    </div>
    <div class="img-3">
        <img class="cascos" src="./chico-con-auriculares.png" alt="LOGO">
        <p ><b>ESCUCHA LO QUE QUIERAS</b><br><br>INCLUSO EN EL MOVIL</p>
    </div>
    <div class="img-4">
        <img class="play" src="./boton-de-play.png" alt="">
        <p><b>SALTA TODAS LAS CANCIONES QUE QUIERAS</b><br><BR>SIMPLEMENTE DALE A SIGUIENTE</BR></p>
    </div>
</section>
</main>
